*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*change the box model so they are not added to the
    total width/height that we specify for a box */
  box-sizing: inherit;
}

html {
  /* simplify the rem units, making it from 16 px to 10px but
    but not hard setting it to the browser so users can zoom
    in */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background: linear-gradient(180deg, #9c27b0, #6a36d9);
  margin: 0 auto;
  //max width 1920 screens
  font-size: 2rem;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

pre[class*="language-"] {
  background: #1c2049 !important;
}
