@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-weight: 100;
}
