.icon {
  fill: currentColor;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}
