.banner {
  background: linear-gradient(180deg, #6a36d9, #9c27b0);

  //background: linear-gradient(to bottom, #1c2049, #6a36d9);
  margin-bottom: 0 !important;

  &__content {
    color: white;
    z-index: 2;

    @include media-query($medium-down) {
      flex-direction: column;
      margin-top: 15rem;
    }

    @include media-query($small) {
      text-align: center;
      h2 {
        margin-top: 1rem;
      }
    }

    h3,
    h2 {
      font-weight: 100;
    }

    h1 {
      line-height: 3.5rem;
    }
    h2 {
      line-height: 3rem;
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    @include media-query($small) {
      justify-content: center;
    }

    &--icon {
      transition: all 0.8s;
      margin-top: 2rem;

      color: #ffffff;
      &:hover {
        color: #56e5fe;
      }
      &:last-child {
        margin-left: 1rem;
      }
    }
  }

  &.container {
    height: 90vh;

    @include media-query($medium-down) {
      height: 100%;
    }
  }
}
