.blog {
  .container:first-child {
    height: 50vh;
    background: linear-gradient(rgb(106, 54, 217), rgb(156, 39, 176));
    margin-bottom: 0;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.75);
    color: white;

    h3 {
      margin-top: 1rem;
      font-weight: 100;
      line-height: 2rem;
    }
  }

  .container__inner {
    margin-top: -10rem;

    p {
      margin-bottom: 1.5rem;
    }

    table {
      width: 100%;
      margin-bottom: 3rem;
    }

    th {
      height: 5rem;
      text-align: left;
    }

    th,
    td {
      padding: 1.5rem;
      border-bottom: 1px solid #ddd;
    }

    @include media-query($small) {
      padding: 5rem;
      margin-top: -7rem;
    }
  }

  h1 {
    @include media-query($small) {
      font-size: 2.5rem;
    }
  }
  h3 {
    @include media-query($small) {
      font-size: 1.5rem;
    }
  }
}
