.contact {
  .container:first-child {
    height: 50vh;
    background: linear-gradient(rgb(106, 54, 217), rgb(156, 39, 176));
    margin-bottom: 0;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.75);
    color: white;

    h3 {
      margin-top: 1rem;
      font-weight: 100;
      line-height: 2rem;
    }
  }

  .container__inner {
    margin-top: -10rem;
    width: 50%;

    @include media-query($small) {
      width: 95%;
      padding: 2rem;
    }
  }

  &__button {
    align-self: center;
    margin: 3rem 0;
    background-color: #6a36d9;
    padding: 2rem 5rem;

    font-size: 2rem;
    letter-spacing: 0.5rem;

    box-shadow: inset 0px 0px 39px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border: none;
  }

  &__field {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;

    label {
      font-size: 2rem;
      text-transform: uppercase;
      color: rgb(105, 113, 185);
      margin-bottom: 1rem;
    }

    input,
    textarea {
      color: #6a36d9;
      background-color: inherit;
      border: none;
      box-shadow: inset 0px 0px 39px 0px rgba(0, 0, 0, 0.75);
      border-bottom: 1px solid rgb(86, 0, 199);
      transition: all 1s;
      padding: 1rem;
      font-family: inherit;
      &:focus {
      }
      &::placeholder {
        color: rgb(49, 49, 49);
        text-transform: uppercase;
      }
    }
  }
}
