.introduction {
  &__icon {
    margin-top: 1rem;
    > * {
      margin: 1rem;
    }
  }

  &__container {
    color: #d6d8e5;
    overflow: hidden;
    border-radius: 20px;
    padding-top: 10rem;
    padding-right: 10rem;
    width: 100%;
    height: 100%;
    z-index: 3;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    background-color: #1c2049;
    display: grid;
    grid-template-rows: [header-start] 7rem [header-end main-start] 1fr [main-end];
    grid-template-columns: [sidebar-start] 50rem [sidebar-end main-start ] 1fr [main-end];
    max-width: 80%;
    @include media-query($small) {
      max-width: 95%;
    }

    &--content {
      > * {
        margin-bottom: 2rem;
      }
    }

    &--sidebar {
      grid-row: main-start / main-end;
      grid-column: main-start / main-end;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--header {
      grid-row: header-start / header-end;
      grid-column: main-start / main-end;
      color: #56e5fe;
      @include media-query($small) {
        margin: 5rem 0;
      }
    }

    @include media-query($medium-down) {
      .profileBuildingIcon {
        margin-left: -30rem;
        height: auto;
      }
      grid-template-columns: [sidebar-start] 10rem [sidebar-end main-start ] 1fr [main-end];
    }

    @include media-query($small) {
      grid-template-rows: [header-start] max-content [header-end main-start] 1fr [main-end];
      grid-template-columns: [ main-start ] 1fr [main-end];
      padding: 2rem;
      text-align: center;
      .profileBuildingIcon {
        display: none;
      }
    }
  }
}
